{% extends "rtoBase.html" %} {% block content %}
<style>
	table,
	th,
	td {
		border: 1px solid brown;
	}
	th,
	td {
		padding: 10px;
	}
	table {
		margin: auto;
		width: 80%;
		text-align: center;
	}
</style>
<div class="w3l-main-slider position-relative" id="home">
	<div class="w3l-bannerhny-content">
		<div class="container">
			<div class="w3l-bannerhny-info">
				<h3 class="mb-md-5 mb-2">Vehicle Registration</h3>
			</div>
		</div>
	</div>
</div>
<section id="contact" class="contact">
	<div class="container">
		<div class="section-title">
			<h6 class="title-subw3hny mb-2"><span>Registration</span></h6>
		</div>
		<div class="row">
			<div
				class="col-lg-7 mt-lg-0 mt-5 container"
				data-aos="fade-up"
				data-aos-duration="3000"
			>
				<form action="" method="post" role="form" class="php-email-form">
					{% csrf_token %}
					<div class="row">
						<div class="col form-group">
							<select name="vid" id="">
								<option value="" selected disabled>Select Vehicle Owner</option>
								{% for d in data %}
								<option value="{{d.0}}">{{d.2}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col form-group">
							<input
								type="text"
								class="form-control"
								name="blood"
								id="w3lSender"
								placeholder="Blood Group"
								required=""
							/>
						</div>
					</div>
					<div class="row">
						<div class="col form-group">
							D.O.B<input
								type="date"
								class="form-control"
								name="dob"
								id="w3lSender"
								placeholder=""
								required=""
							/>
						</div>
						<div class="col form-group">
							Expeiry Date<input
								type="date"
								class="form-control"
								name="date"
								id="w3lName"
								placeholder="Date"
								required=""
							/>
						</div>
					</div>
					<div class="form-group">
						<input
							name="licnum"
							class="form-control"
							id="w3lMessage"
							placeholder="License number"
							required=""
						/>
					</div>
					<div class="row"></div>
					<div class="w3lhny-submit text-center">
						<button
							type="submit"
							name="submit"
							class="btn btn-primary btn-style"
						>
							Register
						</button>
					</div>
				</form>
			</div>
		</div>
		<section id="about" class="clients">
			<div class="container">
				<table>
					<tr>
						<th>Name</th>
						<th>Reg No</th>
						<th>License No</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Bllod Group</th>
						<th>D.O.B</th>
						<th>Expeiry Date</th>
					</tr>
					{% for de in details %}
					<tr>
						<td>{{de.11}}</td>
						<td>{{de.9}}</td>
						<td>{{de.5}}</td>
						<td>{{de.13}}</td>
						<td>{{de.12}}</td>
						<td>{{de.4}}</td>
						<td>{{de.2}}</td>
						<td>{{de.3}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</section>
	</div>
</section>
{% endblock %}
